.big_form{
  .field{
    margin-bottom:0.5rem;
  }
  .col_right input, input.col_right{
    margin-bottom:0;
  }
  label{
    display:block;
    margin:0.5rem 0;
  }
}
.make_fake_checkbox.oval{
  label{
    display:inline-block;
    width:16px;
    height:10px;
    border:1px solid #000;
    background:#fff;
    color:#fff;
    overflow:hidden;
    margin-left:1rem;
    -moz-border-radius: 8px / 5px;
    -webkit-border-radius: 8px / 5px;
    border-radius: 8px / 5px;
    cursor:pointer;
  }
  label:hover{
    background-image:image-url('eye.png');
  }
  input[type="checkbox"]:checked + label{
    background-image:image-url('eye.png');
  }
}
.float_fields{
  margin-top:1rem;
  border-top:2px solid rgb(0, 0, 255);
  border-bottom:2px solid rgb(0, 0, 255);
  padding:1rem 0;
  .field{
    float:left;
    margin-right:1rem;
  }
  label, .label{
    display:inline-block;
    margin:0 0.5rem 0 0;
  }
  input[type="text"]{
    width:50px;
  }
}